.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F5DC;
  padding: 0 5%;
}

.loginForm {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.loginForm h2 {
  margin-bottom: 20px;
  color: #1E382E;
}

.formGroup {
  margin-bottom: 20px;
  text-align: left;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  color: #22635B;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.loginButton {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #F55642;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #D94431;
}

.googleButton {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #4285F4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.googleButton:hover {
  background-color: #357AE8;
}

.registerLink {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #22635B;
}

.registerButton {
  color: #F55642;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
}

.registerButton:hover {
  color: #D94431;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

